body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #edf2f9;
}

.coverImageHolder {
    width: 100%;
    padding: 0px;
    height: 400px;
}

.userOptionsBar {
    height: 60px;
    background: white;
    width: 100%;
    padding: 10px;
    border-top: 1px #c7c7c7 solid;
    border-bottom: 1px #cacaca solid;
}

.userImage {
    height: 200px;
    width: 200px;
    background-image: url("../../assets/images/noProfilePicture.png");
    background-size: cover;
    border-radius: 50%;
    margin-top: -160px;
    border: 2px #dcdcdc solid;
}

.spacer {
    height: 20px;
    width: 100%;
}

.statAmount {
    font-size: 36px;
    color: #5f71b3;
    vertical-align: sub;
}

.statText {
    font-size: 14px;
    color: #5a5a5a;
    vertical-align: middle;
}

.btn-secondary{
    margin-top: 9px;
}

.statsHolder {
    margin-top: -11px;
}

.vhr {
    width: 1px;
    height: 40px;
    background: #d0d0d0;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
}

app-publish-post{
    height: 100%;
    width: 100%;
}

