<body>
    <div class="coverImageHolder" style="background-image: url('../../assets/images/harold.jpg'); background-position: 0px; background-repeat: no-repeat; background-size: cover;">
    </div>
    <div class="userOptionsBar">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="userImage" style="background-image: url('../../assets/images/noProfilePicture.png'); background-size: cover;"></div>
                </div>
                <div class="col-md-7">
                    <div class="statsHolder">
                        <span class="statAmount">10</span>
                        <span class="statText">Followers</span>

                        <div class="vhr"></div>
                        <span class="statAmount">5</span>
                        <span class="statText">Following</span>

                        <div class="vhr"></div>
                        <span class="statAmount">100</span>
                        <span class="statText">Posts</span>

                        <div class="vhr"></div>

                        <button style="float:right" type="button" class="btn btn-secondary">Edit profile</button>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 *ngIf="userProfile != null">{{ userProfile.username }}</h4>
                        <h4 *ngIf="userProfile == null">Username</h4>
                        <hr>
                        <b *ngIf="userProfile != null">{{ userProfile.profile.first_name }} {{ userProfile.profile.last_name }}</b>
                        <b *ngIf="userProfile == null">Name Surname</b>
                        <br>
                        User's info here
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <app-publish-post [listPostRef]="listPostsComponent"></app-publish-post>
                </div>
                <div class="card">
                    <app-list-posts #listPostsComponent class="w-100"></app-list-posts>
                </div>
            </div>
        </div>
    </div>
</body>