<!-- Container -->
<div class="container is-custom">

  <!-- Profile page main wrapper -->
  <div id="profile-main" class="view-wrap is-headless true-dom" >

    <app-profile-header *ngIf="userProfile" [userProfile]="userProfile" [myProfile]="myProfile" [following]="imFollower"></app-profile-header>

    <app-profile-edit *ngIf="router.url == '/edit-profile' && userProfile" [userProfile]="userProfile"></app-profile-edit>

    <div class="columns" *ngIf="router.url != '/edit-profile' && userProfile">
      <div id="profile-timeline-widgets" class="column is-4">

        <div class="basic-infos-wrapper">
          <div class="card is-profile-info">
            <div class="info-row">
              <div>
                <span>Description</span>
                <p>{{ userProfile.profile.description }}</p>
              </div>
              <i class="mdi mdi-school"></i>
            </div>
            <div class="info-row">
              <div>
                <span>Name</span>
                <p>{{ userProfile.profile.first_name }} {{ userProfile.profile.last_name }}</p>
              </div>
              <i class="mdi mdi-school"></i>
            </div>
            <div class="info-row">
              <div>
                <span>Birthday</span>
                <p>{{ userProfile.profile.birthday | date : 'dd/MM/yyyy' }}</p>
              </div>
              <i class="mdi mdi-heart"></i>
            </div>
          </div>
        </div>

      </div>

      <div class="column is-8">
        <div id="activity-feed" class="mt-10">
          <div *ngIf="!this.username">
            <app-publish-post [listPostRef]="listPostsComponent"></app-publish-post>
            <app-list-posts-profile #listPostsComponent class="w-100"></app-list-posts-profile>
          </div>
          <div *ngIf="this.username && !userProfile.user_blocked && !userProfile.other_blocked">
            <app-list-posts-profile #listPostsComponent class="w-100"></app-list-posts-profile>
          </div>
          <div *ngIf="userProfile.other_blocked">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <h5>This user has blocked you 😱</h5>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="userProfile.user_blocked">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <h5>You've blocked this user 😢</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Profile page main wrapper -->

</div>
<!-- /Container -->
