<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0" style="background-color: #e74c3c;">
            <h3>side</h3>
        </div>
  
        <div class="col-md-8 ">
            <div class="row" style="background-color: #ffffff">
                <div class="user-card">
                    <div class="user-card-banner-image">
                    </div>
                    <div class="user-card-second-row">
                        <div class="user-image">

                        </div>
                        <div class="user-edit-profile">
                            <h3>{{ loggedUserName }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ffffff">
                <app-publish-post [listPostRef]="listPostsComponent"></app-publish-post>
            </div>
            <div class="row" style="background-color: #ffffff">
                <app-list-posts #listPostsComponent class="w-100"></app-list-posts>
            </div>
        </div>
  
        <div class="col-md-2p-0" style="background-color: #e74c3c">
            <h3>side</h3>
        </div>
    </div>
</div>
  