
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form [formGroup]="formSignUp" (ngSubmit)="signUp(formSignUp)">
            <img src="../../assets/images/piopiologo.png">

            <h1>Create your account</h1>

            <input type="text" formControlName='username' placeholder="Username" />
            <div *ngIf="formSignUp.get('username').errors && formSignUp.get('username').touched">
                <small *ngIf="formSignUp.get('username').hasError('required')">Username is required</small>
                <small *ngIf="formSignUp.get('username').hasError('minlength')">Min of 3 characters</small>
                <small *ngIf="formSignUp.get('username').hasError('maxlength')">Max of 10 characters</small>
            </div>

            <input type="email" formControlName='email' placeholder="Email" />
            <div *ngIf="formSignUp.get('email').errors && formSignUp.get('email').touched">
                <small *ngIf="formSignUp.get('email').hasError('required')">Email is required</small>
                <small *ngIf="formSignUp.get('email').hasError('email')">Incorrect email</small>
            </div>

            <input type="password" formControlName='password' placeholder="Password" />
            <div *ngIf="formSignUp.get('password').errors && formSignUp.get('password').touched">
                <small *ngIf="formSignUp.get('password').hasError('required')">Password is required</small>
                <small *ngIf="formSignUp.get('password').hasError('minlength')">Min of 5 characters</small>
                <small *ngIf="formSignUp.get('password').hasError('maxlength')">Max of 12 characters</small>
            </div>

            <input type="password" formControlName='confirm_password' placeholder="Repeat your password" />


            <div formGroupName="profile">
                <input type="text" formControlName='first_name' placeholder="Name" />
                <input type="text" formControlName='last_name' placeholder="Surname" />
            </div>
            <button [disabled]="formSignUp.invalid" >Sign Up</button>
        </form>
    </div>
</div>