
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form [formGroup]="formSignUp" (ngSubmit)="signUp(formSignUp)">
            <img src="../../assets/images/piopiologo.png">

            <h1>Create your account</h1>

            <input type="text" formControlName='username' placeholder="Username" />
            <div *ngIf="formSignUp.get('username').errors && formSignUp.get('username').touched">
                <small *ngIf="formSignUp.get('username').hasError('required')">Username is required</small>
                <small *ngIf="formSignUp.get('username').hasError('minlength')">Min of 3 characters</small>
                <small *ngIf="formSignUp.get('username').hasError('maxlength')">Max of 15 characters</small>
            </div>
            <div *ngIf="formSignUp.get('username').errors?.serverError">
              <ul style="color: #E74C3C; text-align: left;">
                <li style="list-style-type: none; " *ngFor="let error of formSignUp.get('username').errors?.serverError">{{ error[0].toUpperCase() + error.slice(1) }}</li>
              </ul>
            </div>

            <input type="email" formControlName='email' placeholder="Email" />
            <div *ngIf="formSignUp.get('email').errors && formSignUp.get('email').touched">
                <small *ngIf="formSignUp.get('email').hasError('required')">Email is required</small>
                <small *ngIf="formSignUp.get('email').hasError('email')">Incorrect email</small>
            </div>
            <div *ngIf="formSignUp.get('email').errors?.serverError">
              <ul style="color: #E74C3C; text-align: left;">
                <li style="list-style-type: none;" *ngFor="let error of formSignUp.get('email').errors?.serverError">{{ error[0].toUpperCase() + error.slice(1) }}</li>
              </ul>
            </div>

            <input type="password" formControlName='password' placeholder="Password" />
            <div *ngIf="formSignUp.get('password').errors && formSignUp.get('password').touched">
                <small *ngIf="formSignUp.get('password').hasError('required')">Password is required</small>
                <small *ngIf="formSignUp.get('password').hasError('minlength')">Min of 8 characters</small>
            </div>
            <div *ngIf="formSignUp.get('password').errors?.serverError">
              <ul style="color: #E74C3C; text-align: left;">
                <li style="list-style-type: none;" *ngFor="let error of formSignUp.get('password').errors?.serverError">{{ error }}</li>
              </ul>
            </div>

            <input type="password" formControlName='confirm_password' placeholder="Repeat your password" />
            <div *ngIf="formSignUp.get('confirm_password').errors?.serverError">
              <span *ngFor="let error of formSignUp.get('confirm_password').errors?.serverError">{{ error }}</span>
            </div>
            <div style="width: 100%;" formGroupName="profile">
                <input type="text" formControlName='first_name' placeholder="Name" />
                <div *ngIf="formSignUp.get('profile.first_name').errors && formSignUp.get('profile.first_name').touched">
                  <small *ngIf="formSignUp.get('profile.first_name').hasError('required')">First name is required</small>
                  <small *ngIf="formSignUp.get('profile.first_name').hasError('minlength')">Min of 3 characters</small>
                  <small *ngIf="formSignUp.get('profile.first_name').hasError('maxlength')">Max of 20 characters</small>
                </div>
                <input type="text" formControlName='last_name' placeholder="Surname" />
              <div *ngIf="formSignUp.get('profile.last_name').errors && formSignUp.get('profile.last_name').touched">
                <small *ngIf="formSignUp.get('profile.last_name').hasError('required')">Last name is required</small>
                <small *ngIf="formSignUp.get('profile.last_name').hasError('minlength')">Min of 3 characters</small>
                <small *ngIf="formSignUp.get('profile.last_name').hasError('maxlength')">Max of 20 characters</small>
              </div>
            </div>
            <button [disabled]="formSignUp.invalid" >Sign Up</button>
        </form>
    </div>
</div>
