<div class="row">
    <div class="col-md-6">
        <div class="left-side">
            <p>Follow what you like.</p>
            <p>Find out what people are talking about.</p>
            <p>Join the conversation.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="right-side">
            <img src="../../assets/images/piopiologo.png" />
            <h1>Discover what is happening in the world right now</h1>
            <p>Join PioPio today.</p>
            <a routerLink="/signup" routerLinkActive="active" class="signupButton">Signup</a>
            <a routerLink="/login" routerLinkActive="inactive" class="loginButton">Login</a>
        </div>
    </div>
</div>