<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0 mh-100">
      <div class="left-side min-vh-100 d-flex w-100 justify-content-center flex-column align-items-center">
        <h3>Follow what you like.</h3>
        <h3>Find out what people are talking about.</h3>
        <h3>Join the conversation.</h3>
      </div>
    </div>
    <div class="col-md-6 p-0 mh-100">
      <div class="right-side min-vh-100 d-flex w-100 justify-content-center flex-column align-items-center">
        <img src="/assets/images/piopiologo.png" />
        <h1>Discover what is happening in the world right now</h1>
        <p>Join PioPio today.</p>
        <a routerLink="/register" routerLinkActive="active" class="registerButton">Register</a>
        <a routerLink="/login" routerLinkActive="inactive" class="loginButton">Login</a>
      </div>
    </div>
  </div>
</div>
