.likes-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
.retweet-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.retweet-block > i{
  font-size: 1.3em;
}

.likes-block > span{
  margin-bottom: 2px;
}
.retweet-block > span{
  margin-bottom: 2px;
}
.report-block {
  margin-right: 10px;
}

.report-block > i{
  font-size: 1.3em;
}

.username-mention{
  font-weight: 300 !important;
  color: #8e8e8e !important;
  font-family: "Segoe UI";
}

.user-info > a{
  margin-bottom: 5px;
}

.card.is-post .content-wrap .card-footer .social-count {
  width: 100%;
  margin-left: inherit;
  display: flex;
  align-items: stretch;
}

.snip1545 {
  border-radius: 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1545 *,
.snip1545 *:before,
.snip1545 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1545 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1545 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1545 figcaption:before,
.snip1545 figcaption:after,
.snip1545 figcaption div:before,
.snip1545 figcaption div:after {
  opacity: 0;
}

.snip1545 figcaption:before,
.snip1545 figcaption:after {
  height: 50%;
  width: 50%;
  position: absolute;
  content: '';
  background-color: #080808;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.snip1545 figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.snip1545 figcaption:after {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.snip1545 figcaption div:before,
.snip1545 figcaption div:after {
  width: 50%;
  height: 50%;
  position: absolute;
  content: '';
  background-color: #000000;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.snip1545 figcaption div:before {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.snip1545 figcaption div:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.snip1545 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
  opacity: 0;
}

.snip1545 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1545:hover img,
.snip1545.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.snip1545:hover i,
.snip1545.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1545:hover figcaption:before,
.snip1545.hover figcaption:before,
.snip1545:hover figcaption:after,
.snip1545.hover figcaption:after,
.snip1545:hover figcaption div:before,
.snip1545.hover figcaption div:before,
.snip1545:hover figcaption div:after,
.snip1545.hover figcaption div:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: 0.8;
}
