<div id="compose-card" class="card is-new-content">
  <!-- Top tabs -->
  <div class="tabs-wrapper">

    <!-- Tab content -->
    <div class="tab-content">

      <!-- Compose form -->
      <form [formGroup]="postForm" (ngSubmit)="publish(postForm)">
        <div class="compose">
          <div class="compose-form">
            <div class="control">
              <textarea id="publish" formControlName='content' class="textarea" rows="3" placeholder="Write something about you..." [mention]="users" [mentionConfig]="{triggerChar:'@', maxItems:10, labelKey:'username'}" (searchTerm)="textChange($event)"></textarea>
            </div>
          </div>
        </div>
        <!-- /Compose form -->

        <!-- General basic options -->
        <div id="basic-options" class="compose-options">

          <div *ngIf="previews.length > 0" class="previews-container">
            <a class="img" *ngFor="let preview of previews" (click)="deleteImage(preview)">
              <div class="img__overlay img__overlay--red"><i class="mdi mdi-window-close"></i></div>
              <img *ngIf="preview.type == 'image'" src="http://res.cloudinary.com/dt5t5tmbw/image/upload/{{ preview.public_id }}.jpg"/>
              <img *ngIf="preview.type == 'video'" src="http://res.cloudinary.com/dt5t5tmbw/video/upload/{{ preview.public_id }}.jpg"/>
            </a>
          </div>

          <!-- Upload action -->
          <a (click)="toggleImagesUpload()" class="compose-option">
            <i data-feather="camera"></i>
            <span>Images</span>
          </a>
          <a (click)="toggleVideoUpload()" class="compose-option">
            <i data-feather="video"></i>
            <span>Video</span>
          </a>
        </div>


        <!-- Footer buttons -->
        <button id="publish-button" type="submit" [disabled]="postForm.invalid" class="button is-solid accent-button is-fullwidth">
          Publish
        </button>

      </form>

      <div class="modal images-upload-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <ngx-dropzone (change)="onSelectImages($event)" [accept]="'image/*'">
            <ngx-dropzone-label>Drop a image!</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" *ngFor="let f of images" [removable]="true" (removed)="onRemoveImages(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <button class="button has-text-centered upload-media-button" (click)="uploadImages()">Upload</button>
        </div>
        <button class="modal-close is-large upload-close-button" aria-label="close" (click)="toggleImagesUpload()"></button>
      </div>

      <div class="modal video-upload-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <ngx-dropzone (change)="onSelectVideo($event)" [accept]="'video/*'" [multiple]="false">
            <ngx-dropzone-label>Drop a video!</ngx-dropzone-label>
            <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" *ngFor="let f of videos" [removable]="true" (removed)="onRemoveVideo(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-video-preview>
          </ngx-dropzone>
          <button class="button has-text-centered upload-media-button" (click)="uploadVideo()">Upload</button>
        </div>
        <button class="modal-close is-large upload-close-button" aria-label="close" (click)="toggleVideoUpload()"></button>
      </div>
    </div>
  </div>
</div>
