<div id="compose-card" class="card is-new-content">
  <!-- Top tabs -->
  <div class="tabs-wrapper">

    <!-- Tab content -->
    <div class="tab-content">

      <!-- Compose form -->
      <form [formGroup]="postForm" (ngSubmit)="publish(postForm)">
        <div class="compose">
          <div class="compose-form">
            <img src="https://via.placeholder.com/300x300" data-demo-src="assets/images/avatars/jenna.png" alt="">
            <div class="control">
              <textarea id="publish" formControlName='content' class="textarea" rows="3" placeholder="Write something about you..."></textarea>
            </div>
          </div>
        </div>
        <!-- /Compose form -->

        <!-- Footer buttons -->
        <div class="more-wrap">
          <button id="publish-button" type="submit" [disabled]="postForm.invalid" class="button is-solid accent-button is-fullwidth">
            Publish
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
