<div class="post-box">
    <div class="row top-row post-row">
        <div class="col-md-3 column">
           
                <img src="../../assets/images/noProfilePicture.png" >
          
        </div>
            
        <div class="col-md-9 column">
            <textarea name="textarea" id="tweet" class="post-text" placeholder="Write something here"></textarea>
            
        
        </div>
    </div>

    <div class="row bottom-row post-row">
        <div class="col-md-9 column">
            
        </div>

        <div class="col-md-3 column">
            
          
             <button  style="display: inline;margin-top: 10px" (click)="postTweet()"> Post</button>   
         
        </div>



    </div>




</div>